body {
    background-color: #f0f8ff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2 {
    color: #000000;
}

.container {
    margin: 25px; /* Reducido al 25% */
    max-width: 1000px; /* Reducción proporcional */
    text-align: center;
    padding: 20px; /* Reducido al 25% */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.music-option {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.music-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.music-option .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.music-option:hover img {
    filter: blur(4px);
}

.music-option:hover .overlay {
    opacity: 1;
}

.image-container {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.input-container {
    text-align: center;
    margin-top: 20px;
}

textarea {
    width: 80%;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

textarea:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}